@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}


h2{
    text-align: center;
    font-size: 30px;
}
h3{
    font-size: 32px;
    text-align: end;
    margin-top: 20px;
}
.first_story{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.image_fox2{
    height: 470px;
}
.image_fox{
    margin-top: 3px;
}


.modal_h3{
    text-align: left;
    margin-bottom: 20px;
}

.text_block{
    width: 597px;
    font-size: 22px;
    background-color: #DCECFC;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 54px 26px 54px 26px;
}
.variables{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 122px;
    margin-top: 70px;
}
.variables_btn{
    position: relative;
}
.btn_next{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 30px 50px 30px 50px;
    top: 120px;
}
.left_variant{
    display: flex;
    flex-direction: column;
    gap: 82px;
}
.right_variant{
    display: flex;
    flex-direction: column;
    gap: 82px;
}
.btn_variant{
    padding: 27px 343px 27px 27px;
    color: 22px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
}
.btn_variant:hover{
    background-color: #7b8085;
    color: white;
}

.close_btn{
    padding: 10px 20px 10px 20px;
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}
.close_btn:hover{
    background-color: #DCECFC;
}
.wrong_btn:active{
    background-color: red;
}

.correct_variant:active{
    background-color: green;
}