@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}




h2{
    text-align: center;
    font-size: 30px;
}

.scene-description{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}
h3{
    font-size: 32px;
    text-align: start;
    margin-top: 20px;
}
.first_story{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}



.text_block{
    width: 597px;
    font-size: 22px;
    background-color: #DCECFC;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 54px 26px 54px 26px;
}
.variables{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 122px;
    margin-top: 70px;
}
.variables_btn{
    position: relative;
}
.btn_next{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 30px 50px 30px 50px;
    top: 120px;
    right: 20px;
}
.left_variant{
    display: flex;
    flex-direction: column;
    gap: 82px;
}
.right_variant{
    display: flex;
    flex-direction: column;
    gap: 82px;
}
.btn_variant{
    padding: 27px 30px 27px 27px;
    color: 22px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
}
.btn_variant:hover{
    background-color: #7b8085;
    color: white;
}


.wrong_btn{
    position: relative;
}
.image_gif{
    position: absolute;
    bottom: 0px;
    height: 180px;
    
}
.correct_variant{
    position: relative;
}
.text_block p{
    margin-top: 26px;
}

.btn_variant{
    width: 500px;
}
.close_btn{
    padding: 10px 20px 10px 20px;
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}
.close_btn:hover{
    background-color: #DCECFC;
}
.wrong_btn:active{
    background-color: red;
}

.correct_variant:active{
    background-color: green;
}

.camera_feed_container {
    width: 100%;
    max-width: 640px;
    margin: 20px auto;
    border: 6px solid #ccc;
    border-radius: 18px;
    overflow: hidden;
    background-color: black;
  }
  
  .camera_video {
    width: 100%;
    height: auto;
    display: block;
  }


